/*Подключение шрифтов*/
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src:
    url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src:
    url('../assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src:
    url('../assets/fonts/Roboto-bold.woff2') format('woff2'),
    url('../assets/fonts/Roboto-bold.woff') format('woff');
  font-display: swap;
}


/*Сброс стилей по дефолту*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}


/*Глобальные стили*/
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #363838;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #f2dbd0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.border {
  border-bottom: 2px solid #363838;
}





