@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src:
    url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src:
    url('../assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src:
    url('../assets/fonts/Roboto-bold.woff2') format('woff2'),
    url('../assets/fonts/Roboto-bold.woff') format('woff');
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #363838;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #ffe0fd;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  scroll-behavior: smooth;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  background-color: #f7e6f4;
}

.header {
  padding: 50px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.menu__link {
  padding: 10px 15px;
  transition: all 0.3s;
  position: relative;
}

.menu__link:hover::before {
  transform: scaleX(1);
  transition: transform 0.3s;
  transform-origin: left;
}

.menu__link::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #9f52e3;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.menu__link:focus {
  color: #9f52e3;
}

.menu__link:active {
  opacity: 0.5;
}

.profile {
  padding: 100px 0 50px;
  width: 100%;
}

.profile__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile__info {
  text-transform: uppercase;
}

.profile__wrapper {
  position: relative;
  width: 350px;
  height: 350px;
  z-index: 1;
  margin-bottom: 60px;
}

.profile__wrapper:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  filter: blur(20px);
  transform: scale(1.02);
  background: linear-gradient(60deg, #f294ee, #c5a1e2, #5ad0f5);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
  background: linear-gradient(60deg, #745469, #9b88ae, #94dbed);
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.profile__image {
  object-fit: cover;
  border-radius: 20px;
  opacity: 0.9;
}

.profile__heading {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.profile__text {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.contacts__item:not(:last-child) {
  margin-bottom: 18px;
}

.contacts__link {
  transition: all 0.3s;
}

.contacts__link:hover {
  color: #27a5e8;
}

.contacts__item:hover .contacts__descr::before {
  transform: scale(1.3);
}

.contacts__descr {
  display: inline-block;
  max-width: 130px;
  width: 100%;
  padding-left: 50px;
  position: relative;
  font-weight: 700;
}

.contacts__descr::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: left;
  top: 0;
  left: 0;
  width: 25px;
  height: 30px;
  transition: 0.3s;
}

.contacts__descr--location::before {
  background-image: url('./assets/img/icons/location-pin.png');
}

.contacts__descr--phone::before {
  background-image: url('./assets/img/icons/smartphone.png');
}

.contacts__descr--email::before {
  background-image: url('./assets/img/icons/message.png');
}

.contacts__descr--discord::before {
  background-image: url('./assets/img/icons/discord.png');
}

.contacts__descr--github::before {
  background-image: url('./assets/img/icons/github.png');
}

section {
  padding: 0 10px 30px 70px;
}

.contacts,
.education,
.courses,
.languages,
.skills,
.code {
  width: 50%;
  border-bottom: 3px solid rgba(87, 16, 230, 0.2);
}

.projects,
.summary {
  width: 100%;
}

h2 {
  margin: 20px 0;
  padding-bottom: 5px;
  position: relative;
}

h2::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 75px;
  left: 0;
  bottom: 0;
  background-image: url('./assets/img/minus.png');
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
}

.summary__text {
  max-width: 700px;
  width: 100%;
  font-weight: 500;
}

.skills__wrapper {
  display: flex;
}

.skills__inner {
  width: 50%;
}

.skills__subtitle {
  font-style: italic;
  font-weight: 700;
}

.projects__item {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
  transition: all 0.3s;
}

.projects__item:not(:last-child) {
  margin-right: 50px;
}

.projects__list {
  display: flex;
  justify-content: center;
}

.projects__item:hover {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  transform: scale(1.05);
}

.code__wrap {
  background-color: #000;
  opacity: 0.8;
}

.code__example {
  color: #109be6;
}

.footer {
  padding: 50px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
}

.footer__item:first-of-type {
  margin-right: 40px;
}

.footer__production-date {
  font-weight: 700;
  font-size: 24px;
}

.footer__item {
  transition: all 0.3s;
}

.footer__item:hover {
  transform: scale(1.1);
}